header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header img {
  object-fit: contain;
  margin-bottom: 2rem;
  width: 20rem;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.4em;
  text-align: center;
  text-transform: uppercase;
  color: #902e0d;
  font-family: "Pacifico", cursive;
  margin: 0;
}
/* the p nay nen dat la Header P de khong bi anh huong boi cac p khac trong toan cuc, neu dat P thoi thi se bi anh huong */
Header p {
  text-align: center;
  color: #992612;
  margin: 0;
}

.my-paragraph {
  color: rgb(220, 255, 94);
}
@media (min-width: 768px) {
  header {
    margin-bottom: 4rem;
  }

  header h1 {
    font-size: 2.25rem;
  }
}
