#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(14, 46, 46);
}
body {
  margin: 0;
  display: flex;
  place-items: center; /* Căn giữa theo cả 2 chiều */
  min-width: 320px;
  min-height: 100vh;
}
